/* Delete before publishing*/

div, nav, span, footer, h2, h3, h4, h5, p, li, ul, ol, img, section {
 border: 1px solid blue;
}

/*Delete above here before publishing */

/* Fonts */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v11/IVeH6A3MiFyaSEiudUMXEweOulFbQKHxPa89BaxZzA0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v11/BYPM-GE291ZjIXBWrtCweteM9fzAXBk846EtUMhet0E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Global styling */

html {
  font-size: 16px;
}

body {
  font-weight: 300;
  line-height: 1.45rem;
  color: hsl(193, 10%, 23%);
  padding-top: 4rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.65rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

ul {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
}

.container.header,
.container.footer {
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.container.featured,
.container.skills {
  height: 50rem;
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  position: fixed;
  width: 100%;
  background-color: hsl(193, 69%, 17%);
  margin: 0 auto;
  z-index: 10;
  top: 0rem;
}

header a {
  display: flex;
  justify-content: center;
  width: 4rem;
  color: hsl(193, 10%, 90%);
}

header a:active {
  font-weight: 500;
}

div#logo {
  display: flex;
  font-weight: 400;
}

#logo p {
  display: flex;
  color: hsl(193, 10%, 90%);
  text-transform: uppercase;
  font-size: 2rem;
  margin: auto;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
}

#logo a {
    width: 100%;
}

header img {
  display: block;
  height: 3rem;
  width: auto;
  margin: auto;
}

nav {
  display: flex;
}

nav ul{
  display: flex;
  align-items: center;
}

li.button {
  padding: 0.15rem 0.5rem;
  margin: 0 0.5rem;
}

li.button:nth-child(3) {
  background-color: hsl(87, 82%, 39%);
  margin-right: 0;
}

li.button:hover {
  background-color: hsl(174, 84%, 30%);
  font-weight: 500;
}

li.button:active {
    border: 0.1rem solid hsl(174, 84%, 30%);
}

nav.mobile {
  display: flex;
  padding: 0 1.5rem;
  width: 100%;
}

nav.mobile ul {
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }

  nav.desktop {
    display: none;
  }

  nav ul li {
    padding: 0;
  }
}

@media only screen and (min-width: 481px) {
  nav.mobile {
    display: none;
  }
}

/* featured section */

div#featured {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#featured p {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 1025px) {

}

/* Projects Section */

.container.projects {
    background-image: url(../images/2FMD2R7.png);
}
div#projects {
  display: flex;
  width: 52rem;
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project {
  width: 32.5%;
  display: flex;
  flex-flow: row wrap;
  height: 17rem;
  align-items: center;
  justify-content: center;
  margin: 0.15rem;
  background-color: hsl(87, 82%, 39%);
  color: hsl(193, 69%, 98%);
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* skills section */

div#skills {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#skills h2 {
  margin-left: 0;
  padding: 0.5rem;
  background-color: hsl(87, 82%, 39%);
  text-transform: uppercase;
  color: hsl(193, 69%, 98%);
}

#skills ul {
  list-style-type: disc;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding-left: 2rem;
}

#skills p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 0.75rem;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 837px) {

}

/* Footer section */

footer {
  display: flex;
  position: relative;
  padding: 2rem 1.5rem;
  justify-content: space-between;
  background-color: hsl(193, 10%, 23%);
  color: hsl(193, 10%, 90%);
}

.footer {
  flex-direction: column;
}

.trunk {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

div.third {
  width: 33%;
  display: flex;
}

.image-frame img {
  object-fit: cover;
  border-radius: 50%;
  height: 8.5rem;
  width: 8.5rem;
}

.third p {
  margin: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer nav {
  padding: 0;
}

footer a {
  color: hsl(87, 82%, 39%);
}

footer a:hover {
  font-weight: 500;
}

#social ul {
  width: 100%;
  padding-left: 1rem;
}

#social li {
  display: flex;
  padding-bottom: 1rem;
}

#social li a {
  width: 2rem;
}

#social a:hover {
  font-weight: 300;
  color: hsl(174, 84%, 30%);
}

#social i {
  font-size: 2rem;
}

#social p {
  color: hsl(193, 10%, 90%);
  padding: 0;
  padding-left: 0.5rem;
}

#social p a i {
  font-size: 1rem;
  line-height: 2rem;
  width: auto;
}

dl {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding-left: 1rem;
  line-height: 1.75rem;
}

dt {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  color: hsl(87, 82%, 39%)
}

dt:hover {
    color: hsl(174, 84%, 30%);
}

.copyright {
  display: flex;
  margin-top: 2rem;
}

@media only screen and (max-width: 480px) {

}
