/* Delete before publishing*/

div, nav, span, footer, h2, h3, h4, h5, p, li, ul, ol, img, section {
 border: 1px solid blue;
}

/*Delete above here before publishing */

/* Fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v11/BYPM-GE291ZjIXBWrtCweteM9fzAXBk846EtUMhet0E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Global styling */

html {
  font-size: 16px;
}

body {
  line-height: 1.45rem;
  color: hsl(350, 10%, 23%);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.65rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

ul {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: hsl(0, 70%, 35%);
}

a:hover {
  font-weight: 500;
}

/* Header Section */

.container.header {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
  height: 4rem;
  position: fixed;
  width: 100%;
  background-color: hsl(193, 69%, 17%);
  margin: 0 auto;
  z-index: 10;
}

header a {
  color: hsl(350, 10%, 90%);
}

header a:active {
  color: hsl(0, 70%, 35%);
  font-weight: 500;
}

div#logo {
    display: flex;
}

#logo p {
    display: flex;
    color: hsl(350, 10%, 90%);
    text-transform: uppercase;
    font-size: 2rem;
    margin: auto;
    padding-top: 0.5rem;
}

img {
    display: block;
    height: 3rem;
    width: auto;
    margin: auto;
}

nav {
  display: flex;
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

nav ul li:nth-child(3) {
  background-color: hsl(87, 82%, 39%);
  margin-right: 0;
}

nav ul li:hover {
  background-color: hsl(174, 84%, 30%);
}

nav.mobile {
  display: flex;
  padding: 0 1.5rem;
  width: 100%;
}

nav.mobile ul {
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }

  nav.desktop {
    display: none;
  }

  nav ul li {
    padding: 0;
  }
}

@media only screen and (min-width: 481px) {
  nav.mobile {
    display: none;
  }
}

/* featured section */

div#featured {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4rem;
}

#featured p {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* featured section */

.container.featured {
  display: flex;
  height: 30rem;
  width: 100%;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 1025px) {

}

/* Projects Section */

.container.projects {
    background-image: url(../images/2FMD2R7.png);
}
div#projects {
    display: flex;
    width: 52rem;
    margin: auto;
    flex-flow: row wrap;
}

.project {
    width: 33%;
    display: flex;
    flex-flow: row wrap;
    height: 17rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: hsl(87, 82%, 39%);
    color: hsl(193, 69%, 98%);
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Courses section */

section#catalog {
  display: block;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.class {
  width: 29%;
  margin: 0 1rem 1rem 1rem;
  background-color: hsl(71, 5%, 94%);
  box-shadow: 0.25rem 0.25rem 1rem hsla(350, 10%, 23%, 0.5);
}

.class .description {
  padding: 1rem;
}

.class p {
  padding: 0.5rem 0;
}

.class:hover {
    background-color: hsla(0, 70%, 35%, 0.3);
}

.category {
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .class .img-container {
    display: none;
  }

  .class {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .class:active {
      background-color: hsla(0, 70%, 35%, 0.3);
  }

  .class:last-child {
    margin-bottom: 2rem;
  }

  .class h3 {
    text-align: center;
    width: 100%;
  }

  .class .description {
    margin: 0 auto;
  }

  .class .description p {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 837px) {
  .class {
    width: 45%;
  }

  .courses .description p {
    display: none;
  }
}

/* Thesis section */

section#thesis {
  display: block;
}

.thesis {
  display: flex;
}

.thesis .main {
  padding-right: 1rem;
}

video {
  width: 100%;
  display: block;
  padding-bottom: 1.5rem;
}

.thesis .main h2 {
  text-align: left;
}

.img.fisma {
  background-image: url('../images/thesis-fisma.jpg');
}

.img.now-and-then {
  background-image: url('../images/thesis-now-and-then.jpg');
}

@media only screen and (max-width: 480px) {
  #thesis aside {
    display: none;
  }

  .thesis .main {
    width: 100%;
    padding-right: 0;
  }

  .thesis .content {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .thesis .main p {
      display: none;
  }
  .thesis .main {
      padding-right: 1rem;
      width: 70%;
  }
}

/* Footer section */

footer {
  display: flex;
  position: relative;
  padding: 2rem 1.5rem;
  top: 4rem;
  justify-content: space-between;
  background-color: hsl(193, 10%, 23%);
  color: hsl(350, 10%, 90%);
}

footer nav {
  padding: 0;
}

@media only screen and (max-width: 480px) {
  footer nav {
    display: none;
  }
}
